body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.text {
  float: left;
  width: 30.7994791666%;
  min-height: 51px;
  margin: 167px 0 0 39.60026%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 11.7666666666%;
  height: 37px;
  margin: 35px 0 0 45.8333333333%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  float: left;
  clear: both;
  width: 30.8%;
  height: 42px;
  margin-left: 37.7161458333%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}