html
    head
        title just click
    body
        p(id = "username") username
        p(style='white-space:pre;') This is the very first game of this website welcome
        p(style='white-space:pre;') Game Instruction:
        p Click on the square appeared on the Screen
        p you got 30 secs 
        form(action='/lobby', method='get')
            button.btn-link(type='submit') back to lobby
        form(action='/lobby/just_click', method='get')
            button.btn-link(type='submit') play
    br
    br
    br
    br
    br
    br
    br
    p(style='white-space:pre;') LeaderBoard
    
    
    
    script.
        document.getElementById("username").innerText = "#{username}";
        
    