html
    meta(charset='utf-8')
    
    link(rel='stylesheet', href="https://bootswatch.com/4/minty/bootstrap.min.css")
    
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    head
        title Game Lobby
        
    nav.navbar.navbar-dark.bg-dark.navbar-expand-sm
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#topNav')
            span.navbar-toggler-icon
        #topNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/lobby') Lobby
                li.nav-item
                    a.nav-link(href='/forum') Forum
                
    
    body
        div.container-fluid.mt-3
            div.row
                div.col-4
                    p(id = "page") Welcome to Game Lobby
                    p(id = "username") username
            div
                a.btn.btn-primary(id="game-menu") All Games
                span(id ="games")
                    a.btn.btn-success.mx-2(href='/lobby/just_click_description') just click
                
                    a.btn.btn-success.mx-2(href='/lobby/XAXB_description') XAXB
                
                    a.btn.btn-success.mx-2(href='/lobby/flappy_square_description') flappy square
        
            div.row.mt-3
                div.col-md-6
                    div(id='chat_header' class='jumbotron') 
                        p(class ='text-center') Public Chat
                            div(id='chat_window')
                            div(id='output' style="width: 500px; height: 300px; overflow-y: auto;")  
                        textarea(id="message" rows="1" cols="50")
                        
                        button(id='send') send
                    
                div.col-6(id="new_game_card")
                    div.card
                        img.card-img-top(src="https://picsum.photos/200/150/?random")
                        div.card-body 
                            h4.card-title New Game Launch
                            a.btn.btn-success Start
            
            div(id= 'users_header') Online Users
                div(id = 'users_list')
            input(id='user_to_connect' autocomplete="off")
            button.mb-3(id='connect') Voice Call
            audio(id = "audio" src = '')
            
        button.btn.btn-primary.hidden(type='button', data-toggle='modal', data-target='#callModal' id="call-modal-btn")
                | voice call
                
        #callModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#callModalLabel.modal-title You are not in call with anyone
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-footer
                        button.btn.btn-secondary.hidden(type='button', data-dismiss='modal' id="accept-btn" ) accept
                        button.btn.btn-primary.hidden(type='button' id="reject-btn") reject
                        button.btn.btn-primary.hidden(type='button' id="disconnect-btn") disconnect

            
        footer.bg-dark.text-light.text-center
            div.container-fluid.mb-4.p-4
                span.bg-primary.mx-auto.w-50 Wei-Ting Chen 2018
                br
                span.mx-auto.w-50 frameworks/tools/services used: nodejs bootstrap/jquery peerjs firebase
        
        style.
            .hidden {
                display: none;
            }
            #message {
                display: flex;
            }
            
            
            
        script(src='/socket.io/socket.io.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.9/peer.min.js")
        script.
            
            document.getElementById("username").innerText = "#{username}";
            var message = document.getElementById("message");
            var send_button = document.getElementById("send");
            var output = document.getElementById("output");
            var users_list = document.getElementById("users_list");
            var user_to_connect = document.getElementById("user_to_connect");
            var connect_button = document.getElementById("connect");
        
            $(document).ready(function () {
                $("#games").hide();
                $("#game-menu").click(function(){
                    $("#games").toggle(1000);
                })
                
            });
        
            
        
        
            var socket = io();    
            //var socket = io.connect(location.origin.replace(/^http/, 'ws'))
            socket.emit('join');
            send_button.addEventListener("click", ()=>{
                if (message.value != ""){
                    socket.emit('chat', {
                        message: message.value
                    });
                }
                message.value = "";
            });
            $("#message").keyup(function (e) {
                if (e.keyCode == 13) {
                    if (message.value != ""){
                        socket.emit('chat', {
                            message: message.value
                        });
                    }
                message.value = "";
                }
            });
            
        
            socket.on('chat', (data) =>{
                output.innerHTML += '<p>' + '<strong>' + data.name + '</strong>'+ ": " + data.message + '</p>';
                output.scrollTop = output.scrollHeight;
            });
        
            socket.on('join', (data) => {
                users_list.innerHTML = data.users_list.join('\n');
                users_list.scrollTop = users_list.scrollHeight;
            })
        
            socket.on('leave', (data) => {
                users_list.innerHTML = data.users_list.join('\n');
                users_list.scrollTop = users_list.scrollHeight;
            })
        
            window.onbeforeunload = function(){
                socket.emit("leave");
            }
       
        
        

            var peer = new Peer("#{username}", {host: 'game-web-peer.herokuapp.com', secure: true, port:443}); 
        
            peer.on('open', function(id) {
                console.log('My peer ID is: ' + id);
            });
        
            //peer.on('connection', function(conn){
            //    console.log("connected");
            //});
        
            peer.on('call', function(call) {
            
                // Answer the call, providing our mediaStream
                
                $("#disconnect-btn").click(function(){
                    $("#call-modal-btn").addClass("hidden");
                    $("#callModalLabel").html("disconnected");
                    $("#disconnect-btn").addClass("hidden");
                    call.close();
                });
                
                navigator.mediaDevices.getUserMedia({video: false, audio: true}).then(function(stream) {
                    
                    call.answer(stream); // Answer the call with an A/V stream.
                    call.on('stream', function(remoteStream) {
                        
                        $("#call-modal-btn").removeClass("hidden");
                        $("#call-modal-btn").trigger("click");
                        $("#callModalLabel").html("connected with " + call.peer);
                        $("#disconnect-btn").removeClass("hidden");
                        document.getElementById("audio").srcObject = remoteStream;
                        document.getElementById("audio").play();
                    });
                    
                    call.on('close', ()=>{
                        $("#call-modal-btn").addClass("hidden");
                        $("#callModalLabel").html("disconnected");
                        $("#disconnect-btn").addClass("hidden");
                    });
                });
                
            });
        
            var conn;
            var call;
            connect_button.addEventListener("click", ()=>{
                //conn = peer.connect(user_to_connect.value);
                //console.log("connecting");
                //conn.on('open', function(conn){
                //    
                //});
                navigator.mediaDevices.getUserMedia({video: false, audio: true}).then(function(stream) {
                    call = peer.call(user_to_connect.value, stream);
                    console.log(call);
                    $("#call-modal-btn").removeClass("hidden");
                    $("#call-modal-btn").trigger("click");
                    $("#callModalLabel").html("calling " + call.peer);
                    $("#disconnect-btn").click(function(){
                        $("#call-modal-btn").addClass("hidden");
                        call.close();
                    });
                    
                    call.on('stream', (stream)=>{
                        $("#callModalLabel").html("connected with " + call.peer);
                        $("#disconnect-btn").removeClass("hidden");
                        document.getElementById("audio").srcObject = stream;
                        document.getElementById("audio").play();
                        console.log(document.getElementById("audio").srcObject);
                    });
                    
                    call.on('close', ()=>{
                        $("#call-modal-btn").addClass("hidden");
                        $("#callModalLabel").html("disconnected");
                        $("#disconnect-btn").addClass("hidden");
                    });
                });

            });
        
        
        
        
        
    

   
        